/* Mobule */
#page-teachers-list {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;

    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 2.2rem Archivo;
    text-decoration: none;
    outline: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3.2rem;

    transition: background-color 200ms;
}

#search-teachers button:hover {
    background-color: var(--color-secundary-dark);
}

#page-teachers-list main {
    width: 90%;

    margin: 3.2rem auto;
}

/* Desktop */
@media(min-width: 700px) {
    #page-teachers-list {
        max-width: 100%;
    }

    #search-teachers {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 5.6rem;
        column-gap: 16px;
        align-items: center;

        position: absolute;
        bottom: -28px;
    }

    #search-teachers .input-block + .input-block,
    #search-teachers .select-block + .select-block {
        margin-top: 0;
    }

    #search-teachers .select-block select {
        background-position: right 0.8rem top 50%;
        background-size: .65em auto;
    }

    #search-teachers button {
        font: 500 0.01px Archivo;

        background-image: url(../../assets/images/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 50% 50%;
    }

    #page-teachers-list main {
        margin: 0 auto;
        padding: 3.2rem 0;

        max-width: 740px;
    }

}